<div class="absolute" *ngIf="display==true">
  <input type="text" [(ngModel)]="text">
  <input type="text" disabled [value]="text">
  <div>{{text}}</div>
</div>

<div class="pantalla" [class.favorite]="display==4">
  <div class="memory">{{operationMemory}}</div>
  {{display}}
</div>
<div class="botones">
  <div class="parteIzquierda">
    <div class="btn">AC</div>
    <div class="btn">+/-</div>
    <div class="btn">%</div>
    <div (click)="adicionarAMemoria(7)" class="btn">7</div>
    <div (click)="adicionarAMemoria(8)" class="btn">8</div>
    <div (click)="adicionarAMemoria(9)" class="btn">9</div>
    <div (click)="adicionarAMemoria(4)" class="btn">4</div>
    <div (click)="adicionarAMemoria(5)" class="btn">5</div>
    <div (click)="adicionarAMemoria(6)" class="btn">6</div>
    <div (click)="adicionarAMemoria(1)" class="btn">1</div>
    <div (click)="adicionarAMemoria(2)" class="btn">2</div>
    <div (click)="adicionarAMemoria(3)" class="btn">3</div>
<div (click)="adicionarAMemoria(0)" class="btn gordito">0</div>

<div (click)="adicionarAMemoria('.')" class="btn">.</div>

  </div>
  <div class="parteDerecha">
    <div class="btn">/</div>
    <div class="btn">X</div>
    <div class="btn">-</div>
    <div (click)="establecerOperador($event)" class="btn">+</div>
    <div (click)="operar()" class="btn">=</div>
  </div>
</div>