<nav class="navbar navbar-dark bg-dark" *ngIf="!home">
    <div class="nav-link" routerLinkActive="active" routerLink="/home">Home</div>
    <div class="nav-link" routerLinkActive="active" routerLink="/matches">Matches</div>
    <div class="nav-link" routerLinkActive="active" routerLink="/players">Players</div>
    <div class="nav-link" routerLinkActive="active" routerLink="/groups">Groups</div>
    <div class="nav-link" routerLinkActive="active" routerLink="/teams">Teams</div>
<div class="nav-link" routerLinkActive="active" routerLink="/lazy">Lazy</div>
</nav>
<router-outlet></router-outlet>