<!--div class="container">
    <app-calculadora (escribir)="interceptar($event)"></app-calculadora>
    <app-cuaderno [texto]="memoria"></app-cuaderno>
</div-->

<div class="container">
    
    <h1>FIFA World Cup - Unofficial App</h1>

<!-- Sistema de enrutado en vista -->
    <div class="menu">
        <div class="coolBtn" routerLink="/matches" routerLinkActive="active">
            <div class="imgContainer"><img src="" alt=""></div>
            <div class="btnName">Matches</div>
        </div>
        <div class="coolBtn" routerLink="/players">
            <div class="imgContainer"><img src="" alt=""></div>
            <div class="btnName">Players</div>
        </div>
        <!-- Sistema de enrutado desde el controlador -->
        <div class="coolBtn" (click)="navigateTo('groups')">
            <div class="imgContainer"><img src="" alt=""></div>
            <div class="btnName">Groups</div>
        </div>
        <div class="coolBtn" (click)="navigateTo('teams')">
            <div class="imgContainer"><img src="" alt=""></div>
            <div class="btnName">Teams</div>
        </div>
    </div>
</div>